		* {
		    margin: 0;
		    padding: 0;
		}

		a {
		    text-decoration: none;
		    color: black;
		    font-weight: 1000;
		}

		a:hover {
		    color: #adad90;
		}

		p {
		    font-size: 10px;
		}

		.container {
		    width: 1200px;
		    margin: 0 auto;
		}

		/*Menu	*/
		.menu {
		    margin-top: 30px;
		    text-align: center;

		    position: re;


		}

		.menu ul li {
		    display: inline-block;
		    padding: 10px 20px;
		    text-transform: uppercase;
		}

		.menu img {
		    margin: 0px 15px -20px;
		}

		.menu img:hover {
		    opacity: 0;
		    background-color: red;

		}

		/*Slice */
		.slice {
		    margin-top: 30px;
		    position: relative;
		}

		.slice .left {
		    width: 400px;
		    position: absolute;
		    top: 150px;
		    left: 75px;
		}

		.slice .left h2 {
		    font-size: 80px;
		    color: #406444;
		}

		.left p {
		    margin-top: 20px;
		    font-size: 14px;
		}

		.btn {
		    padding: 15px 55px;
		    background-color: #758dba;
		    border-radius: 30px;
		    color: #fff;
		    font-size: 18px;
		    text-transform: uppercase;
		    cursor: pointer;
		    border: none;
		    margin-top: 20px;
		}

		.slice .right {
		    position: absolute;
		    bottom: 20px;
		    right: 30px;

		}

		
		.hidden {
		    background-color: rgba(0, 0, 0, 0);
		    color: #fff;
		    margin-right: 20px;
		    border: none;
		    cursor: pointer;
		    font-size: 40px;
		}

		.hidden :hover {
		    color: #464444;
		}
		.btn:hover {
		    background-color: #464444;
		}


		/*Banner*/
		.banner {
		    margin-top: 30px;


		}

		#bannerLeft {
		    width: 680px;
		    margin-right: 20px;
		    height: 650px;
		    float: left;
		    background-image: url('../img/banner_3.jpg');
		    background-size: cover;
		    position: relative;
		    margin-bottom: 30px;

		}

		#bannerRight {
		    width: 500px;
		    height: 650px;
		    float: left;
		    background-image: url('../img/banner_4.jpg');
		    background-size: cover;
		    position: relative;
		    margin-bottom: 30px;
		}

		.text {
		    position: absolute;
		    left: 420px;
		    bottom: 80px;
		    font-size: 60px;
		    font-weight: 500;


		}

		.view1 {
		    position: absolute;
		    left: 470px;
		    bottom: 50px;
		    font-size: 20px;
		    text-transform: uppercase;
		    cursor: pointer;


		}

		.text2 {
		    position: absolute;
		    top: 160px;
		    left: 20px;
		    font-size: 60px;
		    font-weight: 500;

		    text-align: center;





		}

		.view2 {
		    position: absolute;
		    font-size: 18px;
		    text-transform: uppercase;
		    top: 320px;
		    left: 80px;
		    text-align: center;


		}

		/*Content*/
		#title {
		    margin-bottom: 20px;

		    font-size: 50px;
		}

		.product,.name ,.price,.buy {
		    width: 285px;
		    float: left;
		    margin-right: 10px;
		    
		}

		.product:first-child,.buy:first-child,.name:first-child,.price:first-child {
		    margin-left: 0;

		}
		.product{
			overflow: hidden;
		}

		.product img {
		    -webkit-transform: scale(1.3);
		    -moz-transform: scale(1.2);
		    -ms-transform: scale(1.2);
		    transform: scale(1.3);
		}
		.product img:hover{
			transform: scale(1.0);
		}

		.name p{
			margin-top:10px;
			font-size:18px;
			font-weight: 500;
			margin-bottom: 10px;
			color:gray;
			text-align: center;
		}
		.price{
			font-size:35px;
			color:#818753;
			text-align: center;
			margin-top:10px;
			margin-bottom:20px;
			font-weight: bold;
		}
		.price span{
			font-size:20px;
		}
		.buy{
			text-align: center;
			margin-top:-10px;
			margin-bottom:10px;
		}
		
		/*Footer*/
		.about{
			width:400px;
			float:left;


		}
		.about h2{
			text-align: center;
			margin-bottom: 10px;
		}
		.detail{

			width:300px;
			float:left;
		}

		.detail p{
			margin-top:10px;
			color:#6C6666;
			font-size:18px;
		}
		.detail span{
			font-size:22px;
			text-transform: uppercase;
		}
		.link{
			width:500px;
			float:left;

		}
		.about #left{
			width:70px;
			height:38px;
			margin-top:15px;
			margin-right:20px;
			margin-left:15px;
			float:left;
		}
		.about #right{
			width:245px;
			color:#6C6666;
			float:left;
			font-size:15px;
		}
		hr{
			width:1200px;
			
			
		}
		.link p{
			margin-top:50px;
			color:#6C6666;
			font-size: 20px;
		}